@{
    ViewData["Title"] = "AgregarRopa";
}

 <form>
     <input type="hidden" name="IdRopa">|
     <h5>Agregue una foto de la indumentaria:</h5>
     <input type="file" name="Foto">
     <h5>Agregue un nombre de la indumentaria:</h5>
     <input type="text" name="Nombre">
     <h5>Agregue una descripcion de la indumentaria:</h5>
     <input type="text" name="descripcion">
     <h5>Agregue un precio de la indumentaria:</h5>
     <input type="text" name="precio">

 </form>

     <input type="hidden" name="#" value="1">
    <input type="submit" value="Aceptar">
    