@{
    ViewData["Title"] = "Home Page";
}

<h1><center>DROPS</center></h1>

@foreach(marca item in ViewBag.ListadoMarca)
{
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href='@Url.Action("VerDetalleMarca","Home", new {IdMarca = item.IdMarca})'>@item.Nombre
    </a>
  </li>
</ul>
}

<div class="card" style="width: 85rem;">
  <img src="/img/slogan.png" class="card-img-top" alt="...">
</div>










