USE [master]
GO
/****** Object:  Database [TP9]    Script Date: 3/11/2022 10:43:28 ******/
CREATE DATABASE [TP9]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP9', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP9.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP9_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP9_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP9].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP9]
GO
/****** Object:  User [alumno]    Script Date: 3/11/2022 10:43:29 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[marca]    Script Date: 3/11/2022 10:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marca](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Logo] [varchar](max) NOT NULL,
	[Foto] [varchar](max) NOT NULL,
 CONSTRAINT [PK_marca] PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ropa]    Script Date: 3/11/2022 10:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ropa](
	[IdRopa] [int] NOT NULL,
	[IdMarca] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Foto] [varchar](max) NOT NULL,
	[precio] [int] NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[cantLikes] [int] NULL,
 CONSTRAINT [PK_ropa] PRIMARY KEY CLUSTERED 
(
	[IdRopa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[marca] ON 

INSERT [dbo].[marca] ([IdMarca], [Nombre], [Logo], [Foto]) VALUES (1, N'balenciaga ', N'https://o.remove.bg/downloads/0480d78e-28d1-4458-ab17-ffab6a5a8574/820a8ed207650cbcfb58bbb7298b6903-removebg-preview.png', N'https://purodiseno.lat/wp-content/uploads/2022/04/BALENCIAGA-LONDRES-6-1024x768.jpg')
INSERT [dbo].[marca] ([IdMarca], [Nombre], [Logo], [Foto]) VALUES (2, N'Louis Vuitton', N'https://o.remove.bg/downloads/fd39636b-90e8-4cae-960e-3e1d7b085291/Louis_Vuitton_Drip-removebg-preview.png', N'https://hilnethcorreia.com.br/wp-content/uploads/2019/07/louis-vuitton-1013_Lv_Now_CandC_Sao_Paulo_Cidade_Jardim_DI3.jpg')
INSERT [dbo].[marca] ([IdMarca], [Nombre], [Logo], [Foto]) VALUES (3, N'Yves Saint Laurent', N'https://o.remove.bg/downloads/715a306c-19f0-4040-971b-cae1b2adb30b/Saint-Laurent-s%C3%ADmbolo-removebg-preview.png', N'https://www.antefixe.fr/media/galerie_photo/galerie-36/CaptureST2.jpg')
SET IDENTITY_INSERT [dbo].[marca] OFF
GO
INSERT [dbo].[ropa] ([IdRopa], [IdMarca], [Nombre], [Foto], [precio], [descripcion], [cantLikes]) VALUES (1, 1, N'Buzo', N'https://balenciaga.dam.kering.com/m/509d85344d549ec/Large-697971TMVO19800_GR.jpg?v=1', 850, N'Hoodie con Dobladillo Elástico Balenciaga Music Pink Martini Merch Oversized de vellón mediano en blanco roto', 0)
INSERT [dbo].[ropa] ([IdRopa], [IdMarca], [Nombre], [Foto], [precio], [descripcion], [cantLikes]) VALUES (2, 1, N'Remera', N'https://balenciaga.dam.kering.com/m/9c147468ba849c/Large-694576TMVJ61023_D.jpg?v=3', 500, N'Camiseta Strike 1917 Oversized de jersey «vintage» en gris

', 0)
GO
USE [master]
GO
